@typeparam TItem where TItem : notnull

<div class="dropdown @CssClass">
    <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" @onclick="ToggleDropdown">
        @Title
    </button>
    <div class="dropdown-menu w-100 @DropdownClass overflow-y-scroll" style=@(MaxHeight is null ? "" : $"max-height: {MaxHeight}rem;")>
        @foreach (var item in Items)
        {
            <div class="dropdown-item" @onclick="() => ToggleSelection(item)">
                <input class="form-check-input px-1" type="checkbox" id="@GetItemId(item)" checked="@IsSelected(item)"
                       @onclick:preventDefault="true"/>

                <label class="form-check-label ps-2" for="@GetItemId(item)" style="user-select: none;"
                       @onclick:preventDefault="true">
                    @ItemTransformer(item)
                </label>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "Select Items";
    [Parameter] public IEnumerable<TItem> Items { get; set; } = [];
    [Parameter] public ICollection<TItem> SelectedItems { get; set; } = [];
    [Parameter] public Func<TItem, string> ItemTransformer { get; set; } = item => item.ToString() ?? string.Empty;
    [Parameter] public int? MaxHeight { get; set; }

    [Parameter] public string CssClass { get; set; } = string.Empty;

    private bool _isOpen;
    private string DropdownClass => _isOpen ? "show" : string.Empty;

    private void ToggleDropdown()
    {
        _isOpen = !_isOpen;
    }

    private void ToggleSelection(TItem item)
    {
        if (SelectedItems.Contains(item))
        {
            SelectedItems.Remove(item);
        }
        else
        {
            SelectedItems.Add(item);
        }

        StateHasChanged();
    }

    private bool IsSelected(TItem item)
    {
        return SelectedItems.Contains(item);
    }

    private string GetItemId(TItem item)
    {
        return $"{item.ToString()}-checkbox";
    }

}